<!DOCTYPE html>
<html lang="es-es">
<head>
  <meta charset="utf-8"/>
  <title>.</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover"/>
  <link rel="preconnect" href="https://fonts.gstatic.com"/>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"/>
  <link href="style.css" rel="stylesheet"/>
<style>
[v-cloak] {
  display: none !important
}
</style>
</head>
<body>
  <div class="player" id="mp3player" v-cloak>
    <button
      type="button"
      id="nav"
      class="nav"
      :class="{ 'nav--dragging': vdDraggingNav }"
      :style="{ 'transform': 'rotate(' + vdDraggingNavDegree + 'deg)' }"
      @mousedown="mtdStartDraggingNav"
      @touchstart.prevent.stop="mtdStartDraggingNav"
      @mouseup="mtdStopDraggingNav"
      @touchend.prevent.stop="mtdStopDraggingNav"
    >
    </button>
    <div class="handle">
    </div>
    <div class="stick">
    </div>
    <div class="body">
      <i class="i i--1"></i>
      <i class="i i--2"></i>
      <i class="i i--3"></i>
      <i class="i i--4"></i>
      <i class="i i--5"></i>
      <i class="i i--6"></i>
      <i class="i i--7"></i>
      <div class="cta">
        <div>
          <button
            type="button"
            @mousedown="mtdMainButtonPressed"
            @touchstart.prevent.stop="mtdMainButtonPressed"
            @mouseup="mtdMainButtonReleased"
            @touchend.prevent.stop="mtdMainButtonReleased"
          >
            <i class="play-icon">
              <i>
              </i>
            </i>
          </button>
          <div
            v-show="vdPlayerStatus === 2"
            style="position: absolute; left: 0; top: 0;opacity: 0; margin-top: -11px; margin-left: -11px;"
          >
            <iframe src="https://open.spotify.com/embed/track/0ofMkI3jzmGCElAOgOLeo3" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
      </div>
      <div class="display">
        <div class="display__begin">
          MP3
        </div>
        <div class="display__middle">
          <div class="display__middle__part">
            MP3 / WMA
          </div>
          <div
            class="screen"
            :class="{ 'screen--playing': vdPlayerStatus > 0 }"
          >
            <div class="screen__content">
              <ul v-if="vdPlayerStatus === 1">
                <li
                  class="menu1__item"
                  :class="{ 'menu1__item--active': vdMenuActive === 1 }"
                >
                  <button type="button" @click="vdMenuActive = 1"><span>MSC</span></button>
                </li>
                <li
                  class="menu1__item"
                  :class="{ 'menu1__item--active': vdMenuActive === 2 }"
                >
                  <button type="button" @click="vdMenuActive = 2"><span>REC</span></button>
                </li>
                <li
                  class="menu1__item"
                  :class="{ 'menu1__item--active': vdMenuActive === 3 }"
                >
                  <button type="button" @click="vdMenuActive = 3"><span>RPL</span></button>
                </li>
                <li
                  class="menu1__item"
                  :class="{ 'menu1__item--active': vdMenuActive === 4 }"
                >
                  <button type="button" @click="vdMenuActive = 4"><span>FM</span></button>
                </li>
                <li
                  class="menu1__item"
                  :class="{ 'menu1__item--active': vdMenuActive === 5 }"
                >
                  <button type="button" @click="vdMenuActive = 5"><span>SYS</span></button>
                </li>
              </ul>
              <div v-if="vdPlayerStatus === 2">
                <p>Corona - The rythm of the night.mp3</p>
              </div>
            </div>
          </div>
          <div class="display__middle__part">
            Digital Audio Player
          </div>
        </div>
        <div class="display__end">
          USB
        </div>
      </div>
    </div>
    <div class="top">
      <button
        v-show="vdTop"
        type="button"
        @mousedown.prevent.stop="vdTop = false"
        @touchstart.prevent.stop="vdTop = false"
        @click="vdTop = false"
      >
      </button>
    </div>
  </div>

<script src="https://unpkg.com/vue@next"></script>
<script>
/*
<iframe src="https://open.spotify.com/embed/album/6rrPmmb2lQd5pNRL6HKBZx" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous">
<//script>
<script src="https://sdk.scdn.co/spotify-player.js"><//script>

window.spotifyToken = 'BQDIfFW7DuL2WeF0jC54kz5crpHxayyyctfKLsxptif6nQ81PYA6xSqrSIeXMiHvcFOZfZYEuLRkCsf7AuzG5w9-JxyESvT-_SwjiRoErkMzXoE9hIYZHu-f_tw14juckXxWUTb6qmrqF7nq2isa_VQRbDHIfAu-yi0v';
window.spotifyDeviceId = '';
window.onSpotifyWebPlaybackSDKReady = () => {
  const player = new Spotify.Player({
    name: 'Web Playback SDK Quick Start Player',
    getOAuthToken:
      /**
       *
       */ /*
      (_cb) => {

        _cb(window.spotifyToken);
      }
  });

  // Error handling
  player.addListener('initialization_error', ({ message }) => { console.error(message); });
  player.addListener('authentication_error', ({ message }) => { console.error(message); });
  player.addListener('account_error', ({ message }) => { console.error(message); });
  player.addListener('playback_error', ({ message }) => { console.error(message); });

  // Playback status updates
  player.addListener('player_state_changed', state => { console.log(state); });

  // Ready
  player.addListener('ready', ({ device_id }) => {
    // console.log('Ready with Device ID', deviceId);
    window.spotifyDeviceId = device_id;
  });

  // Not Ready
  player.addListener('not_ready', ({ device_id }) => {
    console.log('Device ID has gone offline', device_id);
  });

  // Connect to the player!
  player.connect();
}; */
</script>
<script src="script.js"></script>
</body>
</html>
