html {
  height: 100%;
}

@viewport {
  orientation: portrait;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: sans-serif;
  height: 100%;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  overflow-y: scroll;
}

button:focus {
  outline:0;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline:0;
}

*:active {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

.player {
  display: flex;
  position: relative;
}

.handle {
  background: linear-gradient(180deg, rgba(72, 88, 75, 1) 0%, rgba(206, 235, 239, 1) 31%, rgba(111, 104, 96, 1) 100%);
  border-bottom-left-radius: 3px 6px;
  border-top-left-radius: 3px 6px;
  box-shadow: inset 1.5px 0 1px 0 rgba(255, 255, 255, .5);
  margin: auto 0;
  height: 19px;
  margin-right: -2px;
  position: relative;
  width: 26px;
}

.handle::before {
  background: #000;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 2px rgba(255, 255, 255, .35);
  content: '';
  display: block;
  height: 9px;
  left: 4px;
  top: 50%;
  margin-top: -4.5px;
  position: absolute;
  width: 9px;
}

.stick {
  background: rgb(146,157,159);
  background: linear-gradient(180deg, rgba(146, 157, 159, 1) 0%, rgba(206, 235, 239, 1) 31%, rgba(111, 104, 96, 1) 100%);
  border-bottom-left-radius: 3px 17px;
  border-top-left-radius: 3px 17px;
  box-shadow: inset 1.5px 0 1.5px 1px rgba(255, 255, 255, .5);
  margin: auto 0;
  height: 34px;
  margin-right: -2px;
  width: 9px;
}

.body {
  align-items: center;
  background: #30444b;
  border-bottom-left-radius: 62px;
  border-bottom-right-radius: 44px 62px;
  border-top-left-radius: 62px;
  border-top-right-radius: 44px 62px;
  box-sizing: border-box;
  box-shadow:
    2px 0 1px 1px rgba(0, 0, 0, .5),
    inset 2px 0 2px 0 rgba(255, 255, 255, .95)
  ;
  display: flex;
  height: 124px;
  margin: auto;
  padding-left: 28px;
  position: relative;
  width: 370px;
  z-index: 3;
}

.i {
  background: #0d161d;
  border-radius: 50%;
  height: 8px;
  position: absolute;
  width: 8px;
}

.i.i--1 {
  background: #2e444f;
  box-shadow:
    inset 1.5px 0 1.5px 1px rgba(0, 0, 0, .5),
    inset -1px 0 1px .25px rgba(255, 255, 255, .25)
  ;
  left: 39px;
  top: 10px;
}

.i.i--2 {
  background: #2e444f;
  box-shadow:
    inset 1.5px 0 1.5px 1px rgba(0, 0, 0, .5),
    inset -1px 0 1px .25px rgba(255, 255, 255, .25)
  ;
  left: 25px;
  top: 21px;
}

.i.i--3 {
  background: #2e444f;
  box-shadow:
    inset 1.5px 0 1.5px 1px rgba(0, 0, 0, .5),
    inset -1px 0 1px .25px rgba(255, 255, 255, .25)
  ;
  left: 14px;
  top: 38px;
}

.i.i--4 {
  background: #2e444f;
  box-shadow:
    inset 1.5px 0 1.5px 1px rgba(0, 0, 0, .5),
    inset -1px 0 1px .25px rgba(255, 255, 255, .25)
  ;
  left: 8px;
  top: 57px;
}

.i.i--5 {
  left: 26px;
  bottom: 21px;
}

.i.i--6 {
  left: 14px;
  bottom: 38px;
}

.i.i--7 {
  background: #2e444f;
  box-shadow:
    inset 1.5px 0 1.5px 1px rgba(0, 0, 0, .5),
    inset -1px 0 1px .25px rgba(255, 255, 255, .25)
  ;
  left: 41px;
  bottom: 10px;
}

.cta {
  align-items: center;
  background: #cef5fc;
  border-radius: 50%;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, .25);
  display: flex;
  height: 75px;
  justify-content: center;
  position: relative;
  width: 75px;
}

.cta > div {
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 0 -1px 3px 2px rgba(105, 143, 144, .55);
  content: '';
  display: flex;
  height: 57px;
  justify-content: center;
  left: 50%;
  margin-left: -28px;
  margin-top: -28px;
  position: absolute;
  top: 50%;
  width: 57px;
}

.cta button {
  align-items: center;
  background: #def9f5;
  border: 0;
  border-radius: 50%;
  box-shadow:
    inset 4px 0 4px 2px rgba(255, 255, 255, .75)
  ;
  cursor: pointer;
  display: flex;
  height: 46px;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 46px;
}

.cta button::before {
  border-radius: 50%;
  box-shadow:
    inset -1px -2px 2px 3px rgba(115, 138, 144, .45)
  ;
  content: '';
  display: block;
  height: 47px;
  left: 0;
  position: absolute;
  width: 48px;
  top: 0;
}

.cta button:active {
  overflow: hidden;
  position: relative;
  transform: scale(.999);
}

.cta button:active::before {
  background: rgba(0, 0, 0, .015);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.display {
  align-items: center;
  background: #a2bcba;
  border-bottom-left-radius: 32px 53px;
  border-bottom-right-radius: 32px 53px;
  border-top-left-radius: 32px 53px;
  border-top-right-radius: 32px 53px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
  color: #dff9f8;
  font-size: 12px;
  display: flex;
  height: 106px;
  margin-left: 13px;
  width: 250px;
}

.display__begin {
  align-items: center;
  flex: 0 0 auto;
  justify-content: center;
  margin: auto 0;
  text-align: center;
  width: 38px;
}

.display__middle {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 106px;
  justify-content: center;
  margin: auto 0;
  width: 151px;
}

.display__middle .display__middle__part {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  font-size: 11px;
  justify-content: center;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  word-spacing: 3px;
}

.display__end {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  font-size: 18px;
  font-style: italic;
  justify-content: flex-start;
  letter-spacing: -1px;
  margin: auto 0;
  padding-left: 6px;
  position: relative;
  text-align: left;
}

.display__end::before {
  background: rgb(223, 249, 248);
  border-top: 1px rgb(162, 188, 186) solid;
  border-bottom: 1px rgb(162, 188, 186) solid;
  content: '';
  display: block;
  height: 2px;
  left: 7px;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  margin-left: 0;
  width: 38px;
}

.display__end::after {
  background: rgb(223, 249, 248);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  content: '';
  display: block;
  height: 10px;
  position: absolute;
  width: 11px;
  top: 50%;
  margin-top: -6px;
  right: 8px;
}

.screen {
  align-items: center;
  background: #70a4a0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .8);
  flex: 0 0 auto;
  font-family: 'VT323', monospace;
  font-size: 20px;
  display: flex;
  height: 59px;
  overflow: hidden;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 151px;
}

@keyframes screenMarquee {
  from { margin-left: 0; } to { margin-left: -200px; }
}

/* .screen p {
  animation: screenMarquee 3s linear infinite;
  margin: 0;
  padding: 0;
} */

.screen.screen--on::after {
  bottom: 0;
  box-shadow: inset 2px 0 15px 15px rgba(0, 0, 255, .35);
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

.screen__content {
  align-items: center;
  box-shadow: inset 0 1px 2.25px 2.5px rgba(75, 115, 114, .6);
  display: flex;
  flex: 1 1 auto;
  height: 59px;
  margin: 0;
  width: 151px;
  z-index: 5;
}

.screen__content > div {
  width: 100%;
}

.screen__content ul {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  margin: auto 0;
  padding: 2px 4px 2px 6px;
  width: 100%;
}

.screen__content .menu1__item {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  margin: 0;
  padding: 2px;
  text-align: center;
  width: 20%;
}

.screen__content .menu1__item.menu1__item--active {
  margin-left: -2px;
  margin-top: -2px;
}

.screen__content .menu1__item.menu1__item--active button {
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .8);
}

.screen__content .menu1__item button {
  background: transparent;
  border-radius: 3px;
  border: 1px rgba(0, 0, 0, .8) solid;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
  font-size: 14px;
  height: 34px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.screen__content .menu1__item button img {
  display: block;
  margin: auto auto 0;
  width: 12px;
}

.screen__content .menu1__item button span {
  display: block;
  text-align: center;
  width: 100%;
}

.screen.screen--on .screen__content {
  background: rgba(0, 0, 255, .25);
}

.volume-control {
  bottom: 0;
  height: 10px;
  margin-bottom: -5px;
  position: absolute;
  right: 180px;
  width: 65px;
}

.volume-control::before {
  background: linear-gradient(90deg, #fffeff 0%, #cbcfce 25%, #9d948f 100%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 20px 4px;
  box-shadow: inset 1px 0 1px 2px rgba(0, 0, 0, .15);
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 58%;
  bottom: 0;
  position: absolute;
}

.volume-control::after {
  background: linear-gradient(90deg, #9d948f 0%, #c1cdcb 50%, #b2b8b8 100%);
  border-bottom-left-radius: 20px 4px;
  border-bottom-right-radius: 4px;
  box-shadow: inset -1px 0 1px 2px rgba(0, 0, 0, .15);
  content: '';
  display: block;
  right: 0;
  top: 0;
  width: 58%;
  bottom: 0;
  position: absolute;
}

.top {
  height: 124px;
  margin-left: -44px;
  position: relative;
  width: 139px;
}

.top button {
  background: #30444b;
  border: 0;
  border-bottom-right-radius: 62px;
  border-top-right-radius: 62px;
  box-shadow:
    inset -2px 0 2px 0 rgba(255, 255, 255, .95)
  ;
  cursor: pointer;
  height: 124px;
  width: 139px;
  position: relative;
  z-index: 2;
}

.top::before {
  background: #666;
  content: '';
  display: block;
  height: 80px;
  margin-top: -40px;
  position: absolute;
  left: 0;
  top: 50%;
  width: 65px;
  z-index: 1;
}

.top::after {
  background: #aaa;
  content: '';
  display: block;
  height: 60px;
  margin-top: -30px;
  position: absolute;
  left: 10px;
  top: 50%;
  width: 65px;
  z-index: 1;
}

.play-icon {
  display: flex;
  height: 17px;
  margin: auto;
  width: 19px;
}

.play-icon i {
  display: block;
  height: 17px;
  width: 12px;
  overflow: hidden;
  position: relative;
}

.play-icon i::before {
  display: block;
  background: linear-gradient(45deg, #b8cccc 0%, #b8cccc 59%, #fff 60%);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .15);
  border-radius: 3px;
  content: '';
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  transform-origin: top left;
}

.play-icon::after {
  background: linear-gradient(90deg, rgba(184, 204, 204, .5) 0%, rgba(184, 204, 204, .5) 30%, rgba(255, 255, 255, 1) 35%);
  border-radius: 2px;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .15);
  content: '';
  display: block;
  height: 17px;
  margin: 0 0 0 auto;
  width: 5px;
}

.nav {
  background: linear-gradient(90deg, rgba(72, 88, 75, 1) 0%, rgba(206, 235, 239, 1) 31%, rgba(111, 104, 96, 1) 100%);
  border: 0;
  border-top-left-radius: 6px 3px;
  border-top-right-radius: 6px 3px;
  box-shadow: inset 1.5px 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
  margin: auto 0;
  height: 21px;
  left: 94px;
  position: absolute;
  top: 0;
  transform-origin: center bottom;
  margin-top: -8px;
  transition: transform .15s ease-in-out;
  width: 12px;
  z-index: 2;
}

.nav.nav--dragging {
  transition: none;
}

.nav::before {
  border-radius: 50%;
  content: '';
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 0;
  margin-top: -15px;
  z-index: 1;
}

.display--playing {
  display: flex;
  flex-direction: column;
}

.display--playing__row-1 {
  display: flex;
  font-size: 15px;
  line-height: 13px;
  text-transform: uppercase;
}

.display--playing ul {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  list-style: none;
  margin: 0 1px 0 0;
  padding: 0;
}

.display--playing li {
  margin: 0;
  padding: 0;
}

.display--playing p {
  display: block;
  margin: 0;
}

.display--playing__battery {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  width: 16px;
  margin-right: 2px;
}

.display--playing__battery::before {
  border: 1px rgba(0, 0, 0, .8) solid;
  border-radius: 2px;
  display: block;
  content: '';
  width: 10px;
  height: 5px;
}
